<!DOCTYPE html>
<html lang=en xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Book</title>
    <link rel="stylesheet" th:href="@{/addBook.css}">
</head>
<body>
<div class="container">
    <h2>Add New Book</h2>
    <form th:action="@{/addBook}" th:object="${book}" method="post">
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" id="ID" th:field="*{id}" required>
        </div>

        <div class="form-group">
            <label for="bookName">Book Name</label>
            <input type="text" id="bookName" th:field="*{bookName}" required>
        </div>

        <div class="form-group">
            <label for="author">Author</label>
            <input type="text" id="author" th:field="*{author}" required>
        </div>

        <button type="submit" class="btn">Add</button>
    </form>
</div>
</body>
</html>
